<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

 
  


                                  
  <!DOCTYPE HTML>
  <html>
  <body>
        <style type="text/css">
            li {
               margin: 20px;
            }
          </style>

                      <p>host = <a href="https://cbc-demo.willowtreeapps.com" target="_blank">https://cbc-demo.willowtreeapps.com</a></p>
<h3 id="media-episodes--movies">Media: Episodes &amp; Movies</h3>
<ul>
<li><a href="https://cbc-demo.willowtreeapps.com/media/blackstone/-/episode-2/45ac-00003415f7b" target="_blank">https://cbc-demo.willowtreeapps.com/media/blackstone/-/episode-2/45ac-00003415f7b</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/media/blackstone/season-1/episode-3/45ac-00003462f9c" target="_blank">https://cbc-demo.willowtreeapps.com/media/blackstone/season-1/episode-3/45ac-00003462f9c</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/media/blackstone/season-1/episode-4/45ac-00002a5d985" target="_blank">https://cbc-demo.willowtreeapps.com/media/blackstone/season-1/episode-4/45ac-00002a5d985</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/media/coronation-street/-/episode-8997/45ac-00014d833c9" target="_blank">https://cbc-demo.willowtreeapps.com/media/coronation-street/-/episode-8997/45ac-00014d833c9</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/media/the-nature-of-things/-/episode-5/45ac-00002c1ff63" target="_blank">https://cbc-demo.willowtreeapps.com/media/the-nature-of-things/-/episode-5/45ac-00002c1ff63</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/media/the-nature-of-things/season-55/episode-6/45ac-000045878f3" target="_blank">https://cbc-demo.willowtreeapps.com/media/the-nature-of-things/season-55/episode-6/45ac-000045878f3</a></li>
</ul>
<h3 id="series">Series</h3>
<ul>
<li><a href="https://cbc-demo.willowtreeapps.com/series/blackstone/d5467f25-225d-4519-9f1e-7e547fb06432" target="_blank">https://cbc-demo.willowtreeapps.com/series/blackstone/d5467f25-225d-4519-9f1e-7e547fb06432</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/series/heartland/4ebe64d7-5765-4756-b15f-bbac5980601a" target="_blank">https://cbc-demo.willowtreeapps.com/series/heartland/4ebe64d7-5765-4756-b15f-bbac5980601a</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/series/absolutely-canadian/92184cde-b474-451e-bb8a-496a6855076f" target="_blank">https://cbc-demo.willowtreeapps.com/series/absolutely-canadian/92184cde-b474-451e-bb8a-496a6855076f</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/series/fool-canada/all/05a15080-77fb-44d0-9576-c89a2ee0e5cc" target="_blank">https://cbc-demo.willowtreeapps.com/series/fool-canada/all/05a15080-77fb-44d0-9576-c89a2ee0e5cc</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/series/keeping-canada-alive/857ab2c5-6325-4149-9c19-21a77ae47c4a" target="_blank">https://cbc-demo.willowtreeapps.com/series/keeping-canada-alive/857ab2c5-6325-4149-9c19-21a77ae47c4a</a></li>
</ul>
<h3 id="season">Season</h3>
<ul>
<li><a href="https://cbc-demo.willowtreeapps.com/season/blackstone/season-1/9020950c-c1c4-4afa-9963-5df6638fdb0b" target="_blank">https://cbc-demo.willowtreeapps.com/season/blackstone/season-1/9020950c-c1c4-4afa-9963-5df6638fdb0b</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/season/blackstone/season-3/8d18643e-e846-451f-a67f-19d2af903697" target="_blank">https://cbc-demo.willowtreeapps.com/season/blackstone/season-3/8d18643e-e846-451f-a67f-19d2af903697</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/season/heartland/season-8/e6c16e2b-c440-403d-aff5-7252f84cda3f" target="_blank">https://cbc-demo.willowtreeapps.com/season/heartland/season-8/e6c16e2b-c440-403d-aff5-7252f84cda3f</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/season/heartland/season-9/21a17884-b370-40ce-ac25-59eb27340a2c" target="_blank">https://cbc-demo.willowtreeapps.com/season/heartland/season-9/21a17884-b370-40ce-ac25-59eb27340a2c</a></li>
</ul>
<h3 id="seasonless-show">Seasonless Show</h3>
<ul>
<li><a href="https://cbc-demo.willowtreeapps.com/series/coronation-street/all/5db16e82-7aaf-469f-9b67-bfbe30b0f870" target="_blank">https://cbc-demo.willowtreeapps.com/series/coronation-street/all/5db16e82-7aaf-469f-9b67-bfbe30b0f870</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/series/murdoch-mysteries/all/2f88343e-87c3-4381-b7c7-5f8e1d5cd73f" target="_blank">https://cbc-demo.willowtreeapps.com/series/murdoch-mysteries/all/2f88343e-87c3-4381-b7c7-5f8e1d5cd73f</a></li>
</ul>
<h3 id="categories">Categories</h3>
<ul>
<li><a href="https://cbc-demo.willowtreeapps.com/category/shows/all/289e6419-0f7f-45ff-9bc1-bc749109adb8" target="_blank">https://cbc-demo.willowtreeapps.com/category/shows/all/289e6419-0f7f-45ff-9bc1-bc749109adb8</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/category/shows/canada-150/95ab7c04-4179-46de-8324-c913054950a3" target="_blank">https://cbc-demo.willowtreeapps.com/category/shows/canada-150/95ab7c04-4179-46de-8324-c913054950a3</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/category/shows/canadian-history/8e60e60a-0d76-4988-8fa1-f78e5252a983" target="_blank">https://cbc-demo.willowtreeapps.com/category/shows/canadian-history/8e60e60a-0d76-4988-8fa1-f78e5252a983</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/category/shows/genre/documentary/10fb27bd-077e-40b9-a267-d37e3abeac22" target="_blank">https://cbc-demo.willowtreeapps.com/category/shows/genre/documentary/10fb27bd-077e-40b9-a267-d37e3abeac22</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/category/shows/coronation-street/682e16ef-276b-49c0-80bc-58dbb6762301" target="_blank">https://cbc-demo.willowtreeapps.com/category/shows/coronation-street/682e16ef-276b-49c0-80bc-58dbb6762301</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/category/documentaries/miscellaneous/3d6fa509-3872-451a-841f-56bea99f70df" target="_blank">https://cbc-demo.willowtreeapps.com/category/documentaries/miscellaneous/3d6fa509-3872-451a-841f-56bea99f70df</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/category/documentaries/all/fefebeee-5161-4be7-bf35-2a13d2f096a9" target="_blank">https://cbc-demo.willowtreeapps.com/category/documentaries/all/fefebeee-5161-4be7-bf35-2a13d2f096a9</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/category/documentaries/doc-spotlight/90b29601-c64b-48c6-b1e6-9930e430c3a9" target="_blank">https://cbc-demo.willowtreeapps.com/category/documentaries/doc-spotlight/90b29601-c64b-48c6-b1e6-9930e430c3a9</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/category/documentaries/genre/crime-justice/18c2e8ae-fb92-422d-b0b5-79f1d2719735" target="_blank">https://cbc-demo.willowtreeapps.com/category/documentaries/genre/crime-justice/18c2e8ae-fb92-422d-b0b5-79f1d2719735</a></li>
<li><a href="https://cbc-demo.willowtreeapps.com/category/documentaries/genre/history/91b7c35f-9277-4035-8330-03bc44c64fe3" target="_blank">https://cbc-demo.willowtreeapps.com/category/documentaries/genre/history/91b7c35f-9277-4035-8330-03bc44c64fe3</a></li>
</ul>
<h3 id="pop-up-categories">Pop-up Categories</h3>
<ul>
<li><a href="https://cbc-demo.willowtreeapps.com/category/pop-up-diagnosis/featured-all/d2f0002b-e4f2-4572-8652-94d733759922" target="_blank">https://cbc-demo.willowtreeapps.com/category/pop-up-diagnosis/featured-all/d2f0002b-e4f2-4572-8652-94d733759922</a></li>
</ul>
<h2 id="live">Live</h2>
<h3 id="preprod-always-on">PreProd always on</h3>
<ul>
<li><p><a href="https://cbc-demo.willowtreeapps.com/live/772022339654" target="_blank">https://cbc-demo.willowtreeapps.com/live/772022339654</a></p>
</li>
<li><p><a href="https://cbc-demo.willowtreeapps.com/live/1007562307930" target="_blank">https://cbc-demo.willowtreeapps.com/live/1007562307930</a></p>
</li>
</ul>
<h3 id="regional-channels">Regional Channels</h3>
<ul>
<li><p><a href="https://cbc-demo.willowtreeapps.com/live/920604739687" target="_blank">https://cbc-demo.willowtreeapps.com/live/920604739687</a> - Ottawa</p>
</li>
<li><p><a href="https://cbc-demo.willowtreeapps.com/live/929171523824" target="_blank">https://cbc-demo.willowtreeapps.com/live/929171523824</a> - St. Johns</p>
</li>
<li><p><a href="https://cbc-demo.willowtreeapps.com/live/939944003798" target="_blank">https://cbc-demo.willowtreeapps.com/live/939944003798</a> - Toronto</p>
</li>
<li><p><a href="https://cbc-demo.willowtreeapps.com/live/939944003611" target="_blank">https://cbc-demo.willowtreeapps.com/live/939944003611</a> - Vancouver </p>
</li>
<li><p><a href="https://cbc-demo.willowtreeapps.com/live/939943491709" target="_blank">https://cbc-demo.willowtreeapps.com/live/939943491709</a> - Edmonton</p>
</li>
<li><p><a href="https://cbc-demo.willowtreeapps.com/live/939938884002" target="_blank">https://cbc-demo.willowtreeapps.com/live/939938884002</a> - Calgary</p>
</li>
<li><p><a href="https://cbc-demo.willowtreeapps.com/live/939937347698" target="_blank">https://cbc-demo.willowtreeapps.com/live/939937347698</a> - Regina</p>
</li>
<li><p><a href="https://cbc-demo.willowtreeapps.com/live/939932739734" target="_blank">https://cbc-demo.willowtreeapps.com/live/939932739734</a> - Winnipeg</p>
</li>
<li><p><a href="https://cbc-demo.willowtreeapps.com/live/939929667586" target="_blank">https://cbc-demo.willowtreeapps.com/live/939929667586</a> - Yellowknife</p>
</li>
<li><p><a href="https://cbc-demo.willowtreeapps.com/live/939921987641" target="_blank">https://cbc-demo.willowtreeapps.com/live/939921987641</a> - Windsor</p>
</li>
<li><p><a href="https://cbc-demo.willowtreeapps.com/live/939911235579" target="_blank">https://cbc-demo.willowtreeapps.com/live/939911235579</a> - Halifax</p>
</li>
<li><p><a href="https://cbc-demo.willowtreeapps.com/live/939908163619" target="_blank">https://cbc-demo.willowtreeapps.com/live/939908163619</a> - Fredericton</p>
</li>
<li><p><a href="https://cbc-demo.willowtreeapps.com/live/939761219948" target="_blank">https://cbc-demo.willowtreeapps.com/live/939761219948</a> - Charlottetown</p>
</li>
<li><p><a href="https://cbc-demo.willowtreeapps.com/live/929200707699" target="_blank">https://cbc-demo.willowtreeapps.com/live/929200707699</a> - Montreal</p>
</li>
</ul>
<h3 id="news-net">News Net</h3>
<ul>
<li><a href="https://cbc-demo.willowtreeapps.com/live/939949635618" target="_blank">https://cbc-demo.willowtreeapps.com/live/939949635618</a></li>
</ul>

</body>                                
</html>



</body>
</html>
